.card {
    border: 1px black solid;
    border-radius: 20px;
    background: #227c7c;
    text-align: center;
    opacity: 0.85;
    height: 100%;
}

.card-action {
    width: 100%;
}

.waves-effect.waves-teal.btn-large {
    background-color: rgb(48,220,77);
    margin: 5px 10px;
}

.waves-effect.waves-teal.btn-medium {
    background-color: rgb(0,56,104);
    margin: 10px 10px;
    color: #fff;
    border: 0px;
    border-radius: 2px;
}