/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background: #136289;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4 { 
position: relative;
top: 50%;
transform: translateY(-50%);
color: white;
padding: 90px;
font-family: tahoma;
line-height: 50px;
font-size: 35px;
}

.titleimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: #227c7c;
  text-align: center;
  opacity: 0.85;
}

.welcome {
  position: relative;
  top: 4.7em;
}

.waves-effect.waves-teal.btn-large {
  background-color: #2af42a;
}

.page-footer {
  background: #2af42a;
  opacity: 0.8;
}

.footimg {
  width: 60px;
  height: 60px;
}