.servicereq {
    border: 1px #cccccc solid;
    margin: 10px;
    border-radius: 10px;
}
#request {
    margin-left: 6%;
}
.waves-effect.waves-teal.btn-medium.complete {
    background-color: rgb(48,220,77, 0.8);
}